<!DOCTYPE html>
<html lang="en, fr">
<head>

  <style>
    body {background-color: powderblue;}
    h1   {color: blue;}
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <!-- <h1></h1>
    <h2></h2> -->


    <!-- <form action="/action_page.php" target="_blank" method="get"> -->
<div class = "title">
  <h1>Welcome</h1>
  <h2>Sign up here!</h2>
</div>
        
        
    
    <div class = "list">
      <form action="/action_page.php" target="_blank" method="get">
    
        <p>Cvility</p>
  
        <input type="radio" id="Man" name="fav_language" value="Man">
        <label for="Man">Man</label><br>
        <input type="radio" id="Woman" name="fav_language" value="Woman">
        <label for="Woman">Woman</label><br><br>
  
        
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="Mail">Mail:</label><br>
        <input type="text" id="Mail" name="Mail"><br>
       
  
        <p>Password Creation:</p>
  
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
  
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd"><br>
  
        <label for="pwd">Confirm Password:</label><br>
        <input type="password" id="pwd" name="pwd"><br><br>
        <input type="submit" value="Submit"><br><br>

    </div>
       

      


      
      

      
    
    </form> 

    
    
</html>