<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document 2</title>
</head>
<body>
  <div style="margin: 100px;"><nav class="navbar navbar-inverse navbar-static-top">
    <div class="container"><a class="navbar-brand" href="/">Express HTML VIEWS</a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href = "/sms">sms</a></li>
        <li><a href = "/canaux">canaux</a></li>
      </ul>
    </div>
    
</body>
</html>